.sidebar{
    flex: 1; /*INFO: Sidebar: go to app.css, we split page into two parts, sidebar and others, 1 to 4*/
    height: calc(100vh - 50px); /*INFO: Sidebar if we do height:100hv it will collapse with the topbar, topbar is 50px height*/
    background: rgb(251, 251, 255);
}   

.sidebarWrapper{
    padding: 20px;
    color: #555;    
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-style: 30px;
    color: rgb(187, 186, 186);
}

.sidebarList{
    list-style: none;    
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover{
    background-color: rgb(228, 228, 250);
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important; 
}
